*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style:none;
	text-decoration:none;
}
html,body{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000;
	
}

nav ul{
	position: fixed;
	top:0;
	background-color: #591202;
	height: 10%;
	width: 100%;
	text-align:center;
	font-size:0;
	z-index: 100;
}
nav ul li{
	position: relative;
	width: 17%;
	height: 100%;
	display:inline-block;
}
nav ul li a{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
	width: 100%;
	height: 100%;
	color: #fff;
	font-size:24px;
	text-decoration:none;
}
nav p{
	font-size:24px;
}
nav ul li img{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60%;
	width: 100%;
}
nav ul li p{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 24px;
}