/*===START of content===*/
.content{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90%;	
}

.left_content{
	position: absolute;
	height: 100%;
	left: 0%;
	width: 45%;
}
.main_sidebar{
	position: fixed;
	top: 30%;
	left: 12%;
	margin: auto;
	border-left: 2px solid hsla(0, 0%, 100%, .3);
	padding-left: 24px;
	
	height: 330px;
	width: 45%;
	font-size: 24px;
	
	line-height: 320%;
}
.main_sidebar li{
	position: relative;
	top: -25px;
}
.main_sidebar a{
	color: #aaa;
}
/*.sub_sidebar{
	position: relative;
	top: 20px;
	left: 72px;
	border-left: 1px solid hsla(0, 0%, 100%, .7);
	padding-left: 24px;
	height: 212px;
	font-size: 18px;
	line-height: 270%;
}
.sub_sidebar li{
	position: relative;
	top: -15px;
}*/

