body{
	background: none;
	/*background: url(img/bg4.jpg) no-repeat;
	background-size: cover;*/
}
*{	
	border: 0;
	margin: 0;
	padding: 0;
	list-style:none;
}
.content_space{
	position: absolute;
	/*bottom: 0;*/
	width: 100%;
	height: 100%;
/*	background: url(img/space_mask.svg) no-repeat;
	background-size: cover;*/
	color:#fff;
	/*border: 1px solid #0f0;*/
}
.mask{
	width: 100%;
	height: 100%;
	background: url(img/space_mask.svg) no-repeat;
	background-size: cover;
	/*background-color: rgba(0,0,0,0.8);*/
	position: absolute;
}
.sliderclass{
	width: 100%;
	height: 100%;
	margin:auto;
	position: absolute;
	/*border: 3px solid #00f;*/
	z-index: -5;
}

.slider{
/*	width: 1680px;
	height: 1050px;*/
	width: 100%;
	height: 100%;
	/*border: 1px solid #f00;*/
	margin: auto;
	overflow: hidden;
	z-index: -5;
}
/*.pic{
	width: 2000px;
	position: relative;
	overflow: auto;
	padding: 0;
	z-index: -5;
}
.pic li{
	width: 1680px;
	height: 1050px;
	overflow: hidden;
	float: left;
	z-index: -5;
}
.pic img{
	width: 100%;
	z-index: -5;
	background-size: cover;
}

.map li{
	/*border: 3px solid #0f0;*/
}*/



.pic {
	position: relative;
	width: 100%;
	height: 100%;
	/*border: 1px solid #ccc;*/
}
.pic .sliderbg {
	position: absolute;	/* 讓圖片疊在一起 */
	width:100%;
	height:100%;
	overflow: hidden;
}
.sliderbg1{
	background-image: url(img/L201.JPG);
	background-size: cover;
	background-position: center;
}
.sliderbg2{
	background-image:url(img/M201.JPG);
	background-size: cover;
	background-position: center;
}
.sliderbg3{
	background-image:url(img/M202.JPG);
	background-size: cover;
	background-position: center;
}
.sliderbg4{
	background-image:url(img/S201.JPG);
	background-size: cover;
	background-position: center;
}
.sliderbg5{
	background-image:url(img/S202.JPG);
	background-size: cover;
	background-position: center;
}
/*.pic .sliderbg img{
	width:100%;
}*/
.map {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.map li {
	display: inline-block;
	width: 16px;
	font-size: 0;
	/*color: #fff;*/
	text-align: center;
	/*font-size: 16px;*/
	text-decoration: none;
}



.map .one{
	width: 50%;
	height: 52%;
	background-color: none;
	right:0;
	top:0;
	position: absolute;
}
.one:hover{
	background-color: rgba(255,255,255,0.5);
}
.map .two{
	width: 25%;
	height: 22%;
	/*background-color: #FF0;*/
	left: 0;
	top:0;
	position: absolute;
}
.two:hover{
	background-color: rgba(255,255,255,0.5);
}
.map .three{
	width: 25%;
	height: 22%;
	/*background-color: #FF0;*/
	left: 0;
	bottom:0;
	position: absolute;
}
.three:hover{
	background-color: rgba(255,255,255,0.5);
}
.map .four{
	position: absolute;
	bottom: 0;
	right: 18.5%;
	/*background-color: #FF0;*/
	height: 11.5%;
	width: 18.5%;
	
}
.four:hover{
	background-color: rgba(255,255,255,0.5);
}
.map .five{
	width: 50px;
	height: 60px;
	/*background-color: #F00;*/
	right:0;
	bottom:0;
	position: absolute;
	height: 11.5%;
	width: 18.5%;
}
.five:hover{
	background-color: rgba(255,255,255,0.5);
}

.active{
	background-color: rgba(255,255,255,0.5);
}

.left_space{
	position: absolute;
	top: 0;
	bottom: 0;
	left:10%;
	margin: auto;

	width: 30%;
	height: 60%;
	/*border: 5px solid #ff0;*/
}
.left_content{
	width: 100%;
	padding:0; 
	display: inline-block;
	/*border: 2px solid #f00;*/
}


.left_content li{
	padding-top: 5%;
}
.left_content .map_li{
	padding-top: 0;
}
.left_content li p {
	line-height: 150%;
}

.left_content .map_c{
	top: 0%;
	position: absolute;
	width: 100%;
}
.left_content .map_c::after{
	display: block;
	padding-top: 62.5%;
	content: '';
}
.left_content .map{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	/*background-color: hsla(195, 100%, 50%, .5);*/
}


.left_content>img{
	opacity: .5;
}

.left_content .map_l201{
	position: absolute;
	right: 0;
	top: 0;

	height: 60%;
}
.left_content .map_m201{
	position: absolute;
	left: 0;
	top: 0;

	height: 30%;
}
.left_content .map_m202{
	position: absolute;
	bottom: 0;
	left: 0;

	height: 30%;
}
.left_content .map_s201{
	position: absolute;
	bottom: 0;
	right: 18.5%;
	
	height: 20%;

}
.left_content .map_s202{
	position: absolute;
	bottom: 0;
	right:0;

	height: 20%;
}

.reserve_btn{
	float: right;
}


.right_space{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10%;
	margin: auto;

	width: 35%;
	height: 70%;
}

